body{}
.Pick-body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: url(pick.png) no-repeat ;
  background-size:100%;
}

.Pick-body p{
  text-align: left;
  color: #79c97d;
  margin-left: 3rem;
}

.Pick-longjinglogo{
  position: absolute;
  width: 35%;
  bottom: 3.5rem;
}

.pick-picbox{
  z-index: 4;
  width:100%;
  text-align: center;
  height: 3.5rem;
  margin-top: 1.1rem;
  position: relative;
}
.pick-picbox img{
  width: 100%;
  height: 3.5rem;
}
.address{
  margin-top: .55rem;
  height: .39rem;
  font-size: .28rem;
  color:#2F7B37;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.addId{
  font-size: .22rem;
  font-family: PingFangSC-Regular;
  color: #2F7B37;
  text-align: center;
  line-height: .35rem;
  margin-top: .2rem; 
}
.pick-imgtext{
  position: absolute;
  height: .39rem;
  line-height: .39rem;
  background: url(bj.png) repeat;
  color: white;
  width: 100%;
  z-index: 99;
  text-align: right;
  font-size: .19rem;
  bottom: 0;
}
.pick-imgtext span{
  margin-right: .2rem;
}
@media screen and (min-width: 640px) {
  .pick-picbox{
    height: 4.25rem;
    margin-top: 1.6rem;
  }
  .pick-picbox img{
    height: 4.25rem;
  }
}
@media screen and (min-width:1000px) {
  .address{
    margin-top: .85rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .5rem;
  }
  .addId{
    font-size: .35rem;
    margin-top: .4rem; 
  }
  .pick-picbox{
    height: 5.7rem;
    margin-top: 1.7rem;
  }
  .pick-picbox img{
    height: 5.7rem;
  }
  .pick-imgtext{
    height: .5rem;
    line-height: .5rem;
    font-size: .25rem;
  }
}