body{

}
#tsbody .Cook-body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: url(http://maoyang.terabits.cn/section.jpg) no-repeat;
  background-size: cover;
}
#tsbody .Cook-text{
  margin-top: .39rem;
}
#tsbody .Cook-text img{
  margin-right: .2rem;
  float: left;
  margin-left: .28rem;
  width: 1.4rem;
  height:1.7rem;
  z-index: 4; 
}
#tsbody .Cook-img{
  margin-top:.46rem;
  width: 100%;
  height:3.5rem;
  position: relative;
}
#tsbody .Cook-imgtext{
  position: absolute;
  height: .39rem;
  line-height: .39rem;
  background: url(bj.png) repeat-x;
  color: white;
  width: 100%;
  z-index: 99;
  text-align: right;
  font-size: .19rem;
  bottom: 0;
}
#tsbody .Cook-imgtext span{
  margin-right: .29rem;
  margin-left: .1rem;
}
#tsbody .Cook-imgimg{
  width: 100%;
  height:3.5rem; 
}
#tsbody .Cook-introduction{
  font-size: .19rem;
  line-height: .265rem;
  float: left;
  width: 4.35rem;
}
#tsbody .pack-main{
  height: 2.3rem;
}
#tsbody .cook-top{
  height: .39rem;
  text-align: center;
  width: 100%;
  color: #2F7B37;
  font-size: .19rem;
  line-height: .39rem;
}
#tsbody .cook-author{
  font-family: PingFangSC-Medium;
  font-size: .28rem;
  font-weight: bold;
  color: #222222;
  margin-right: .19rem;
}
#tsbody .clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;  
}
#tsbody .cook-time{
  font-family: PingFangSC-Regular;
  font-size: .19rem;
  color: #222222;
}
@media screen and (max-width: 320px) {

}
@media screen and (min-width: 640px) {
  #tsbody .Cook-text{
    margin-top: .65rem;
  }
  #tsbody .Cook-text img{
    margin-right: .2rem;
    float: left;
    margin-left: .31rem;
    width: 1.7rem;
    height:2.1rem;
    z-index: 4; 
  }
  #tsbody .Cook-introduction {
    font-size: .25rem;
    line-height: .35rem;
    float: left;
    width: 5.35rem;
  }
  #tsbody .Cook-img{
    margin-top:.9rem;
    height:4.45rem;
  }
  #tsbody .Cook-imgtext {
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
}
#tsbody .Cook-imgimg {
    height:4.45rem;
  }
}